body {
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  color: rgb(50, 185, 215);
  font-size: 58px;
}

h2 {
  color: rgb(243, 119, 17);
}

ul {
  list-style: none;
  padding-left: 20px;
}

.list_align,
ol {
  margin-left: 5%;
}

ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: white;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.img {
  float: right;
  height: 300px;
  width: auto;
  margin-right: 100px;
}

a:link {
  font-weight: bold;
  color: rgb(255, 247, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 174, 188);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 122, 122);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
